@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /* default clr */
    --black-: #0a0a0a;
    --white-: #f3f3f3;
    --dark-purp-: #020024;

    /* emphasis */
    --green- : #03b571;
    --red- : #d12626;

    background: var(--dark-purp-);
    color: var(--black-);
}

body{
    margin: 0;
    padding: 0;
}

.btn{
    outline: none;
    background-color: var(--white-);
    border: 1px solid transparent;
    border-radius: 4px;

    padding: 10px 0;
    margin: 0;

    font-size: 22px;
}

.btn.print{
    width: 150px;
    margin: 15px 0;
}

.btn:active{
    border: 1px solid var(--white-);
    background-color: var(--dark-purp-);
    color: var(--white-);
    opacity: 0.7;
}

body .main{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Poppins', sans-serif;
}

body .main .container{
    padding: 10%; 
    text-align: center;
}

body .main .container .receipt-preview{
    border: 1px solid black;
    border-radius: 4px;
    width: 1fr; 
    text-align: center;
    overflow: scroll;
    height: 65vh; 
    background: var(--white-);
    padding: 10px 10px;
}

body .main .container .receipt-preview::-webkit-scrollbar {
    display: none;
}

body .main .container .receipt-preview h1{
    font-size: 20px;
    margin: 5px;
}

body .main .container .receipt-preview .receipt-detail{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 15px; 
}

body .main .container .receipt-preview .receipt-detail *{
    font-size: 12px;
}

body .main .container .receipt-preview .receipt-detail span{
    font-weight: 600;
}

body .main .container .receipt-preview #cart-items, body .main .container .receipt-preview #cart-labels{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body .main .container .input-display{
    border: 1px solid black; 
    border-radius: 4px;
    text-align: right;
    background: var(--white-);
}

body .main .container .input-display :not(hr){
    height: 1.25em;
    padding-right: 18px;
}

body .main .container .input-display p{
    display: inline;
}


body .main .container .input-keypad{
    margin: 15px 0; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 5px
}

.input-keypad > *{
    text-transform: uppercase;
}

.input-keypad :first-child{
    grid-row: 4;
    grid-column: 1 / span 2;
}

.input-keypad :nth-child(2), .input-keypad :nth-child(3), .input-keypad :nth-child(4){
    grid-row: 3;
}

.input-keypad :nth-child(5), .input-keypad :nth-child(6), .input-keypad :nth-child(7){
    grid-row: 2;
}

.input-keypad :nth-child(11), .input-keypad :nth-child(12){
    grid-row: 4;
}

.input-keypad :nth-child(12){
    color: var(--green-);
}

.input-keypad :nth-child(13){
    background-color: var(--red-);
    color: var(--white-);
}

.input-keypad :nth-child(14){
    grid-row: 2 / span 2;
    background-color: var(--green-);
    color: var(--white-);
}

.input-keypad :nth-child(15){
    grid-row: 5;
    grid-column: 1 / span 2;
}

.input-keypad :nth-child(16){
    grid-row: 5;
    grid-column: 3 / span 2;
}

@media print {
    body *{
        visibility: hidden;
    }

    .receipt-preview, .receipt-preview *{
        visibility: visible;
    }
}